body {
	color: #333;
	font-family: "Segoe UI", "Verdana", sans-serif;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

img {
	max-width: 100%;
	max-height: auto;
}

.h1 {
	font-size: 10px;
	margin-bottom:0;
	padding-bottom:0;
}
.style1 {
	font-size: 10px;
	font-weight: bold;
	margin-bottom:0;
	padding-bottom:0;
}
.style2 {
	font-size: 10px;
}


#dynamicText {
	word-break: break-all;
}









